/* Header */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    gap: 10px;   
}

.logo_negosud {
    width: 150px;
    height: 150px;
}

.barre_recherche {
    align-self: end;
}

.logo_loupe {
    width: 25px;
    height: 25px;
    position: relative;
    left: 680px;
    top: -34px;
    cursor: pointer;
}


.item_compte {
    display: flex;
    flex-direction: row;
    align-items: center;    
    cursor: pointer;
}

/* Menu */

.lien {
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.1rem; 
}

.lien:hover {
    color: #7A0000;
}


.menu_deroulant ul {   
    border: 1px solid darkgray;   
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 65px; 
    left: -100px; 
    list-style: none; 
}

a {
    color: black;
    text-decoration: none!important; 
}

a:hover {
    color: #7A0000;
}

/* Les titres */

h1 {
    font-size: 1.4rem;
    margin-top: 80px;
    color: #7A0000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 1.1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 1.1rem;
    margin-left: 18px;
    color: lightgrey;
    margin-top: 10px;
}

.span {
    color: lightgrey;
}


/* Corps de texte */

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #7A0000;
    height: 220px;  
    margin-top: 25px!important;;
}

.footer li {
    color: lightgray;
    cursor: pointer;
    list-style: none;
    margin-bottom: 15px;
    margin-left: -12px;
}

.footer li:hover {
    color: white;
}

.logo_footer {
    width: 100px;
    height: 100px;
}

.bouton_cookies {
    position: relative;
    left: 1130px;
    top: -50px;
}

#div_mon_compte {
    display: none;
}

.adresse {
    color:white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 12px;
}

.image_footer {
    margin-left: 12px;
}